#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

%:
	dh $@ 
install: unpack-war patch-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	mkdir -p $(CURDIR)/debian/opengeo-geoserver/usr/share/opengeo-geoserver 
	#rm -rf $(CURDIR)/geoserver $(CURDIR)/geoserver.zip
	rm -rf $(CURDIR)/geoserver.zip
	#unzip $(CURDIR)/geoserver.war -d geoserver
	#cp $(CURDIR)/debian/web.xml $(CURDIR)/geoserver/WEB-INF/web.xml
	( cd geoserver ; zip ../geoserver.zip * -r ; cd ..)
	cp -rp $(CURDIR)/geoserver.zip $(CURDIR)/debian/opengeo-geoserver/usr/share/opengeo-geoserver/geoserver.war
	#rm -rf $(CURDIR)/geoserver $(CURDIR)/geoserver.zip
	rm -rf $(CURDIR)/geoserver.zip

unpack-war:
	rm -rf $(CURDIR)/geoserver
	unzip $(CURDIR)/geoserver.war -d geoserver

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
#       dh_installmenu
#       dh_link
#       dh_strip
#       dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
#       .PHONY: build clean binary-indep binary-arch binary install

clean: unpatch
	dh_clean
	rm -rf $(CURDIR)/geoserver
