<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="opengeoTheme" class="org.geoserver.web.HeaderContribution">
    <property name="scope" value="org.opengeo.OpenGeoTheme"/>
    <property name="CSSFilename" value="css/opengeo.css"/>
    <property name="faviconFilename" value="favicon/favicon.ico"/>
  </bean>
</beans>