Source: opengeo-suite
Section: science
Priority: extra
Maintainer: OpenGeo <inquiry@opengeo.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://opengeo.org

Package: opengeo-suite
Architecture: any
Depends: debconf, opengeo-postgis, opengeo-geoserver (>= 2.4.0), opengeo-docs (>= 2.4.0), ${misc:Depends} 
Suggests: opengeo-docs
Description: A full geospatial software stack that allows you to allows you to easily compose, style, and publish data and maps.
 The OpenGeo Suite is the complete, OGC standards-compliant web mapping platform built on powerful, cutting-edge, open source geospatial components.  It is comprised of the following components:
 .
   * PostGIS
   * GeoServer
   * GeoWebCache
   * OpenLayers
   * GeoExt
