Source: opengeo-suite-ee
Section: science
Priority: extra
Maintainer: OpenGeo <inquiry@opengeo.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://opengeo.org

Package: opengeo-suite-ee
Architecture: any
Depends: opengeo-suite (>= 2.4.1), ${misc:Depends}
Description: OpenGeo Suite Enterprise Edition.
 The OpenGeo Suite Enterprise Edition provides additional modules and extensions geared toward enterprise and production systems.
